<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icchance.q91.mapper.OrderMapper">

    <resultMap id="BaseResultMap" type="com.icchance.q91.entity.model.Order">
            <id property="id" column="ID" jdbcType="INTEGER"/>
            <result property="userId" column="USER_ID" jdbcType="INTEGER"/>
            <result property="status" column="STATUS" jdbcType="INTEGER"/>
            <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP"/>
            <result property="tradeTime" column="TRADE_TIME" jdbcType="TIMESTAMP"/>
            <result property="cutOffTime" column="CUT_OFF_TIME" jdbcType="TIMESTAMP"/>
            <result property="sellerId" column="SELLER_ID" jdbcType="INTEGER"/>
            <result property="sellerUsername" column="SELLER_USERNAME" jdbcType="VARCHAR"/>
            <result property="amount" column="AMOUNT" jdbcType="DECIMAL"/>
            <result property="orderNumber" column="ORDER_NUMBER" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        a.ID,a.USER_ID,a.STATUS,
        a.CREATE_TIME,a.UPDATE_TIME,a.TRADE_TIME,
        a.CUT_OFF_TIME,a.SELLER_ID,a.SELLER_USERNAME,
        a.AMOUNT,a.ORDER_NUMBER,CERT, a.TRADE_INFO_ID
    </sql>
    <sql id="SellerGatewayColumnList">
        sellerGateway.ID SELLER_GATEWAY_ID, sellerGateway.TYPE SELLER_GATEWAY_TYPE, sellerGateway.USER_ID SELLER_ID,
        sellerGateway.NAME SELLER_NAME, sellerGateway.GATEWAY_NAME SELLER_GATEWAY_NAME,
        sellerGateway.GATEWAY_RECEIPT_CODE SELLER_GATEWAY_RECEIPT_CODE
    </sql>
    <sql id="TradeGatewayColumnList">
        tradeGateway.ID TRADE_GATEWAY_ID, tradeGateway.TYPE TRADE_GATEWAY_TYPE, tradeGateway.USER_ID TRADE_ID,
        tradeGateway.NAME TRADE_NAME, tradeGateway.GATEWAY_NAME TRADE_GATEWAY_NAME,
        tradeGateway.GATEWAY_RECEIPT_CODE TRADE_GATEWAY_RECEIPT_CODE
    </sql>
    <resultMap id="getOrderResult" type="com.icchance.q91.entity.vo.OrderVO" >
        <result column="ID" jdbcType="INTEGER" property="id" />
        <result column="USER_ID" jdbcType="INTEGER" property="userId" />
        <result column="STATUS" jdbcType="INTEGER" property="status" />
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="TRADE_TIME" jdbcType="TIMESTAMP" property="tradeTime" />
        <result column="SELLER_ID" jdbcType="INTEGER" property="sellerId" />
        <result column="SELLER_USERNAME" jdbcType="VARCHAR" property="sellerUsername" />
        <result column="SELLER_GATEWAY_ID" jdbcType="INTEGER" property="sellerGatewayId" />
        <result column="AMOUNT" jdbcType="DECIMAL" property="amount" />
        <result column="ORDER_NUMBER" jdbcType="VARCHAR" property="orderNumber" />
        <collection property="sellerInfo" ofType="com.icchance.q91.entity.model.Gateway">
            <id column="SELLER_GATEWAY_ID" property="id" jdbcType="INTEGER" />
            <result column="SELLER_ID" property="userId" jdbcType="INTEGER" />
            <result column="SELLER_GATEWAY_TYPE" property="type" jdbcType="INTEGER" />
            <result column="SELLER_NAME" property="name" jdbcType="VARCHAR" />
            <result column="SELLER_GATEWAY_NAME" property="gatewayName" jdbcType="VARCHAR" />
            <result column="SELLER_GATEWAY_RECEIPT_CODE" property="gatewayReceiptCode" jdbcType="VARCHAR" />
        </collection>

    </resultMap>

    <select id="getOrderList" resultMap="getOrderResult">
        SELECT
        <include refid="Base_Column_List"/>,
        <include refid="SellerGatewayColumnList"/>,
        <include refid="TradeGatewayColumnList"/>
        FROM q91.ORDER a
        LEFT JOIN GATEWAY sellerGateway ON a.SELLER_GATEWAY_ID = sellerGateway.ID
        LEFT JOIN GATEWAY tradeGateway ON a.USER_ID = tradeGateway.USER_ID
        <where>
            <if test="null != userId and '' != userId">
                AND a.USER_ID = #{userId}
            </if>
        </where>
    </select>
</mapper>
