<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icchance.q91.mapper.OrderMapper">

    <sql id="BaseColumnList">
        a.id,a.user_id,a.status,
        a.create_time,a.update_time,a.trade_time,
        a.cut_off_time,a.seller_id,
        a.amount,a.order_number,a.cert,a.seller_gateway_id,a.buyer_gateway_id, a.pending_order_id
    </sql>
    <sql id="SellerColumnList">
        seller.username sellerUsername
    </sql>

    <resultMap id="getOrderResult" type="com.icchance.q91.entity.vo.OrderVO" >
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="trade_time" jdbcType="TIMESTAMP" property="tradeTime" />
        <result column="cut_off_time" jdbcType="TIMESTAMP" property="cutOffTime" />
        <result column="seller_id" jdbcType="INTEGER" property="sellerId" />
        <result column="seller_username" jdbcType="VARCHAR" property="sellerUsername" />
        <result column="amount" jdbcType="DECIMAL" property="amount" />
        <result column="order_number" jdbcType="VARCHAR" property="orderNumber" />
        <result column="pending_order_id" jdbcType="VARCHAR" property="pendingOrderId" />
    </resultMap>

    <select id="getOrderList" resultMap="getOrderResult">
        SELECT
            <include refid="BaseColumnList" />,
            <include refid="SellerColumnList" />
        FROM q91.orders a
        INNER JOIN USER seller ON a.seller_id = seller.ID
        INNER JOIN USER buyer ON a.user_id = buyer.ID
        <where>
            <if test="null != userId and '' != userId">
                AND a.user_id = #{userId}
            </if>
        </where>
    </select>

    <sql id="SellerGatewayColumnList">
        sellerGateway.id sellerGatewayId, sellerGateway.type sellerGatewayType, sellerGateway.user_id sellerId,
        sellerGateway.name sellerName, sellerGateway.gateway_name sellerGatewayName,
        sellerGateway.gateway_account sellerGatewayAccount,
        sellerGateway.gateway_receipt_code sellerGatewayReceiptCode
    </sql>

    <sql id="BuyerGatewayColumnList">
        buyerGateway.id buyerGatewayId, buyerGateway.type buyerGatewayType, buyerGateway.user_id buyerId,
        buyerGateway.name buyerName, buyerGateway.gateway_name buyerGatewayName,
        buyerGateway.gateway_account buyerGatewayAccount,
        buyerGateway.gateway_receipt_code buyerGatewayReceiptCode
    </sql>

    <resultMap id="getOrderDetailResult" type="com.icchance.q91.entity.vo.OrderVO" >
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="trade_time" jdbcType="TIMESTAMP" property="tradeTime" />
        <result column="seller_id" jdbcType="INTEGER" property="sellerId" />
        <result column="seller_username" jdbcType="VARCHAR" property="sellerUsername" />
        <result column="sellerGatewayId" jdbcType="INTEGER" property="sellerGatewayId" />
        <result column="buyerGatewayId" jdbcType="INTEGER" property="buyerGatewayId" />
        <result column="amount" jdbcType="DECIMAL" property="amount" />
        <result column="order_number" jdbcType="VARCHAR" property="orderNumber" />
        <result column="pending_order_id" jdbcType="INTEGER" property="pendingOrderId" />
        <collection property="sellerInfo" ofType="com.icchance.q91.entity.model.Gateway">
            <id column="sellerGatewayId" property="id" jdbcType="INTEGER" />
            <result column="sellerId" property="userId" jdbcType="INTEGER" />
            <result column="sellerGatewayType" property="type" jdbcType="INTEGER" />
            <result column="sellerName" property="name" jdbcType="VARCHAR" />
            <result column="sellerGatewayName" property="gatewayName" jdbcType="VARCHAR" />
            <result column="sellerGatewayAccount" property="gatewayAccount" jdbcType="VARCHAR" />
            <result column="sellerGatewayReceiptCode" property="gatewayReceiptCode" jdbcType="VARCHAR" />
        </collection>
        <collection property="buyerInfo" ofType="com.icchance.q91.entity.model.Gateway">
            <id column="buyerGatewayId" property="id" jdbcType="INTEGER" />
            <result column="buyerId" property="userId" jdbcType="INTEGER" />
            <result column="buyerGatewayType" property="type" jdbcType="INTEGER" />
            <result column="buyerName" property="name" jdbcType="VARCHAR" />
            <result column="buyerGatewayName" property="gatewayName" jdbcType="VARCHAR" />
            <result column="buyerGatewayAccount" property="gatewayAccount" jdbcType="VARCHAR" />
            <result column="buyerGatewayReceiptCode" property="gatewayReceiptCode" jdbcType="VARCHAR" />
        </collection>
    </resultMap>

    <select id="getOrderDetail" resultMap="getOrderDetailResult">
        SELECT
            <include refid="BaseColumnList" />,
            <include refid="SellerColumnList" />,
            <include refid="SellerGatewayColumnList" />,
            <include refid="BuyerGatewayColumnList" />
        FROM q91.orders a
        INNER JOIN USER seller ON a.seller_id = seller.id
        INNER JOIN USER buyer ON a.user_id = buyer.id
        INNER JOIN gateway sellerGateway ON a.seller_gateway_id = sellerGateway.ID
        INNER JOIN gateway buyerGateway ON a.buyer_gateway_id = buyerGateway.ID
        <where>
            <if test="null != orderId and '' != orderId">
                AND a.id = #{orderId}
            </if>
            <if test="null != userId and '' != userId">
                AND a.user_id = #{userId}
            </if>
        </where>
    </select>
</mapper>
