<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icchance.q91.mapper.PendingOrderMapper">

    <sql id="BaseColumnList">
        a.ID, a.USER_ID, a.STATUS,
        a.CREATE_TIME, a.UPDATE_TIME, a.TRADE_TIME,
        a.BUYER_ID, a.AMOUNT,
        a.ORDER_NUMBER, a.CERT, a.SELLER_GATEWAY_ID, a.AVAILABLE_GATEWAY_STR, a.ORDER_ID
    </sql>
    <sql id="BuyerColumnList">
        buyer.USERNAME buyerUsername
    </sql>

    <resultMap id="getPendingOrderResult" type="com.icchance.q91.entity.vo.PendingOrderVO" >
        <result column="ID" jdbcType="INTEGER" property="id" />
        <result column="USER_ID" jdbcType="INTEGER" property="userId" />
        <result column="STATUS" jdbcType="INTEGER" property="status" />
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="TRADE_TIME" jdbcType="TIMESTAMP" property="tradeTime" />
        <result column="BUYER_ID" jdbcType="INTEGER" property="buyerId" />
        <result column="BUYER_USERNAME" jdbcType="VARCHAR" property="buyerUsername" />
        <result column="BUYER_GATEWAY_ID" jdbcType="INTEGER" property="buyerGatewayId" />
        <result column="AMOUNT" jdbcType="DECIMAL" property="amount" />
        <result column="ORDER_NUMBER" jdbcType="VARCHAR" property="orderNumber" />
        <result column="SELLER_GATEWAY_ID" jdbcType="INTEGER" property="sellerGatewayId" />
        <result column="AVAILABLE_GATEWAY_STR" jdbcType="VARCHAR" property="availableGatewayStr" />
        <result column="ORDER_ID" jdbcType="INTEGER" property="orderId" />
    </resultMap>

    <select id="getPendingOrderList" resultMap="getPendingOrderResult">
        SELECT
            <include refid="BaseColumnList" />,
            <include refid="BuyerColumnList" />
        FROM PENDING_ORDER a
        LEFT JOIN USER buyer ON a.BUYER_ID = buyer.ID
        <where>
            <if test="null neq userId and '' neq userId">
                AND a.USER_ID = #{userId}
            </if>
        </where>
    </select>

    <resultMap id="getPendingOrderDetailResult" type="com.icchance.q91.entity.vo.PendingOrderVO" >
        <result column="ID" jdbcType="INTEGER" property="id" />
        <result column="USER_ID" jdbcType="INTEGER" property="userId" />
        <result column="STATUS" jdbcType="INTEGER" property="status" />
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="TRADE_TIME" jdbcType="TIMESTAMP" property="tradeTime" />
        <result column="sellerGatewayId" jdbcType="INTEGER" property="sellerGatewayId" />
        <result column="buyerGatewayId" jdbcType="INTEGER" property="buyerGatewayId" />
        <result column="AMOUNT" jdbcType="DECIMAL" property="amount" />
        <result column="ORDER_NUMBER" jdbcType="VARCHAR" property="orderNumber" />
        <collection property="sellerInfo" ofType="com.icchance.q91.entity.model.Gateway">
            <id column="sellerGatewayId" property="id" jdbcType="INTEGER" />
            <result column="sellerId" property="userId" jdbcType="INTEGER" />
            <result column="sellerGatewayType" property="type" jdbcType="INTEGER" />
            <result column="sellerName" property="name" jdbcType="VARCHAR" />
            <result column="sellerGatewayName" property="gatewayName" jdbcType="VARCHAR" />
            <result column="sellerGatewayAccount" property="gatewayAccount" jdbcType="VARCHAR" />
            <result column="sellerGatewayReceiptCode" property="gatewayReceiptCode" jdbcType="VARCHAR" />
        </collection>
        <collection property="buyerInfo" ofType="com.icchance.q91.entity.model.Gateway">
            <id column="buyerGatewayId" property="id" jdbcType="INTEGER" />
            <result column="buyerId" property="userId" jdbcType="INTEGER" />
            <result column="buyerGatewayType" property="type" jdbcType="INTEGER" />
            <result column="buyerName" property="name" jdbcType="VARCHAR" />
            <result column="buyerGatewayName" property="gatewayName" jdbcType="VARCHAR" />
            <result column="buyerGatewayAccount" property="gatewayAccount" jdbcType="VARCHAR" />
            <result column="buyerGatewayReceiptCode" property="gatewayReceiptCode" jdbcType="VARCHAR" />
        </collection>
    </resultMap>

    <sql id="SellerGatewayColumnList">
        sellerGateway.ID sellerGatewayId, sellerGateway.TYPE sellerGatewayType, sellerGateway.USER_ID sellerId,
        sellerGateway.NAME sellerName, sellerGateway.GATEWAY_NAME sellerGatewayName,
        sellerGateway.GATEWAY_ACCOUNT sellerGatewayAccount,
        sellerGateway.GATEWAY_RECEIPT_CODE sellerGatewayReceiptCode
    </sql>

    <sql id="BuyerGatewayColumnList">
        buyerGateway.ID buyerGatewayId, buyerGateway.TYPE buyerGatewayType, buyerGateway.USER_ID buyerId,
        buyerGateway.NAME buyerName, buyerGateway.GATEWAY_NAME buyerGatewayName,
        buyerGateway.GATEWAY_ACCOUNT buyerGatewayAccount,
        buyerGateway.GATEWAY_RECEIPT_CODE buyerGatewayReceiptCode
    </sql>

    <select id="getDetail" resultMap="getPendingOrderDetailResult">
        SELECT
        <include refid="BaseColumnList" />,
        <include refid="SellerColumnList" />,
        <include refid="SellerGatewayColumnList" />,
        <include refid="BuyerGatewayColumnList" />
        FROM q91.PENDING_ORDER a
        INNER JOIN USER seller ON a.USER_ID = seller.ID
        LEFT JOIN USER buyer ON a.BUYER_ID = buyer.ID
        INNER JOIN GATEWAY sellerGateway ON a.SELLER_GATEWAY_ID = sellerGateway.ID
        LEFT JOIN GATEWAY buyerGateway ON a.BUYER_GATEWAY_ID = buyerGateway.ID
        <where>
            <if test="null != orderId and '' != orderId">
                AND a.ID = #{orderId}
            </if>
            <if test="null != userId and '' != userId">
                AND a.USER_ID = #{userId}
            </if>
        </where>
    </select>

    <resultMap id="getMarketListResult" type="com.icchance.q91.entity.vo.MarketVO" >
        <result column="ID" jdbcType="INTEGER" property="id" />
        <result column="USER_ID" jdbcType="INTEGER" property="userId" />
        <result column="STATUS" jdbcType="INTEGER" property="status" />
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="TRADE_TIME" jdbcType="TIMESTAMP" property="tradeTime" />
        <result column="USER_ID" jdbcType="INTEGER" property="sellerId" />
        <result column="sellerUsername" jdbcType="VARCHAR" property="sellerUsername" />
        <result column="sellerAvatar" jdbcType="VARCHAR" property="sellerAvatar" />
        <result column="availableGatewayStr" jdbcType="VARCHAR" property="availableGatewayStr" />
        <result column="AMOUNT" jdbcType="DECIMAL" property="amount" />
        <result column="ORDER_NUMBER" jdbcType="VARCHAR" property="orderNumber" />
    </resultMap>

    <sql id="SellerColumnList">
        seller.ID sellerId, seller.USERNAME sellerUsername, seller.AVATAR sellerAvatar
    </sql>

    <select id="getMarketList" resultMap="getMarketListResult">
        SELECT
            <include refid="BaseColumnList" />,
            <include refid="SellerColumnList" />,
            GROUP_CONCAT(gateway.TYPE SEPARATOR ',') availableGatewayStr
        FROM PENDING_ORDER a
        INNER JOIN USER seller ON a.USER_ID = seller.ID
        INNER JOIN ORDER_AVAILABLE_GATEWAY b ON a.ID = b.ORDER_ID
        INNER JOIN GATEWAY gateway ON b.GATEWAY_ID = gateway.ID
        <where>
            <if test="null != dto.status and '' != dto.status" >
                AND a.STATUS = #{dto.status}
            </if>
            <if test="null != dto.orderId and '' != dto.orderId">
                AND a.ID = #{dto.orderId}
            </if>
            <if test="null != dto.userId and '' != dto.userId">
                AND a.USER_ID != #{dto.userId}
            </if>
            <if test="null != dto.min and null != dto.max">
                AND a.AMOUNT &gt; #{dto.min} AND a.AMOUNT &lt; #{dto.max}
            </if>
<!--            <if test="null != dto.gatewayType and dto.gatewayType.size > 0">
                AND gateway.TYPE NOT IN
                <foreach collection="dto.gatewayType" item="type" index="index" open="(" close=")" separator=",">
                    #{type}
                </foreach>
            </if>-->
        </where>
        GROUP BY a.ID
    </select>

    <resultMap id="getMarketPendingOrderResult" type="com.icchance.q91.entity.vo.MarketVO" >
        <result column="ID" jdbcType="INTEGER" property="id" />
        <result column="USER_ID" jdbcType="INTEGER" property="userId" />
        <result column="STATUS" jdbcType="INTEGER" property="status" />
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="TRADE_TIME" jdbcType="TIMESTAMP" property="tradeTime" />
        <result column="sellerId" jdbcType="INTEGER" property="sellerId" />
        <result column="sellerUsername" jdbcType="VARCHAR" property="sellerUsername" />
        <result column="sellerAvatar" jdbcType="VARCHAR" property="sellerAvatar" />
        <result column="availableGatewayStr" jdbcType="VARCHAR" property="availableGatewayStr" />
        <result column="AMOUNT" jdbcType="DECIMAL" property="amount" />
        <result column="ORDER_NUMBER" jdbcType="VARCHAR" property="orderNumber" />
<!--        <collection property="gatewayList" ofType="com.icchance.q91.entity.model.Gateway">
            <id column="SELLER_GATEWAY_ID" property="id" jdbcType="INTEGER" />
            <result column="TYPE" property="type" jdbcType="INTEGER" />
            <result column="NAME" property="name" jdbcType="VARCHAR" />
            <result column="GATEWAY_NAME" property="gatewayName" jdbcType="VARCHAR" />
            <result column="GATEWAY_RECEIPT_CODE" property="gatewayReceiptCode" jdbcType="VARCHAR" />
        </collection>-->
    </resultMap>

    <sql id="GatewayColumnList">
        gateway.ID SELLER_GATEWAY_ID, gateway.type, gateway.NAME, gateway.GATEWAY_NAME, gateway.GATEWAY_RECEIPT_CODE
    </sql>

    <select id="getMarketDetail" resultMap="getMarketPendingOrderResult">
        SELECT
            <include refid="BaseColumnList" />,
            <include refid="SellerColumnList" />
        FROM PENDING_ORDER a
        INNER JOIN USER seller ON a.USER_ID = seller.ID
        <where>
            <if test="null != userId and '' != userId">
                AND a.USER_ID != #{userId}
            </if>
            <if test="null != orderId and '' != orderId">
                AND a.ID = #{orderId}
            </if>
        </where>
    </select>

</mapper>
