<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icchance.q91.mapper.PendingOrderMapper">

    <sql id="BaseColumnList">
        a.id, a.user_id, a.status,
        a.create_time, a.update_time, a.trade_time,
        a.buyer_id, a.amount, a.buyer_gateway_id,
        a.order_number, a.cert, a.seller_gateway_id, a.available_gateway_str, a.order_id
    </sql>
    <sql id="BuyerColumnList">
        buyer.USERNAME buyerUsername
    </sql>

    <resultMap id="getPendingOrderResult" type="com.icchance.q91.entity.vo.PendingOrderVO" >
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="trade_time" jdbcType="TIMESTAMP" property="tradeTime" />
        <result column="buyer_id" jdbcType="INTEGER" property="buyerId" />
        <result column="buyer_username" jdbcType="VARCHAR" property="buyerUsername" />
        <result column="buyer_gateway_id" jdbcType="INTEGER" property="buyerGatewayId" />
        <result column="amount" jdbcType="DECIMAL" property="amount" />
        <result column="order_number" jdbcType="VARCHAR" property="orderNumber" />
        <result column="seller_gateway_id" jdbcType="INTEGER" property="sellerGatewayId" />
        <result column="available_gateway_str" jdbcType="VARCHAR" property="availableGatewayStr" />
        <result column="order_id" jdbcType="INTEGER" property="orderId" />
    </resultMap>

    <select id="getPendingOrderList" resultMap="getPendingOrderResult">
        SELECT
            <include refid="BaseColumnList" />,
            <include refid="BuyerColumnList" />
        FROM pending_order a
        LEFT JOIN USER buyer ON a.buyer_id = buyer.id
        <where>
            <if test="null neq userId and '' neq userId">
                AND a.user_id = #{userId}
            </if>
        </where>
    </select>

    <resultMap id="getPendingOrderDetailResult" type="com.icchance.q91.entity.vo.PendingOrderVO" >
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="trade_time" jdbcType="TIMESTAMP" property="tradeTime" />
<!--        <result column="cut_off_time" jdbcType="TIMESTAMP" property="cutOffTime" />-->
        <result column="sellerGatewayId" jdbcType="INTEGER" property="sellerGatewayId" />
        <result column="buyerGatewayId" jdbcType="INTEGER" property="buyerGatewayId" />
        <result column="amount" jdbcType="DECIMAL" property="amount" />
        <result column="order_number" jdbcType="VARCHAR" property="orderNumber" />
        <result column="buyer_id" jdbcType="INTEGER" property="buyerId" />
        <result column="order_id" jdbcType="INTEGER" property="orderId" />
        <collection property="sellerInfo" ofType="com.icchance.q91.entity.model.Gateway">
            <id column="sellerGatewayId" property="id" jdbcType="INTEGER" />
            <result column="sellerId" property="userId" jdbcType="INTEGER" />
            <result column="sellerGatewayType" property="type" jdbcType="INTEGER" />
            <result column="sellerName" property="name" jdbcType="VARCHAR" />
            <result column="sellerGatewayName" property="gatewayName" jdbcType="VARCHAR" />
            <result column="sellerGatewayAccount" property="gatewayAccount" jdbcType="VARCHAR" />
            <result column="sellerGatewayReceiptCode" property="gatewayReceiptCode" jdbcType="VARCHAR" />
        </collection>
        <collection property="buyerInfo" ofType="com.icchance.q91.entity.model.Gateway">
            <id column="buyerGatewayId" property="id" jdbcType="INTEGER" />
            <result column="buyerId" property="userId" jdbcType="INTEGER" />
            <result column="buyerGatewayType" property="type" jdbcType="INTEGER" />
            <result column="buyerName" property="name" jdbcType="VARCHAR" />
            <result column="buyerGatewayName" property="gatewayName" jdbcType="VARCHAR" />
            <result column="buyerGatewayAccount" property="gatewayAccount" jdbcType="VARCHAR" />
            <result column="buyerGatewayReceiptCode" property="gatewayReceiptCode" jdbcType="VARCHAR" />
        </collection>
    </resultMap>

    <sql id="SellerGatewayColumnList">
        sellerGateway.id sellerGatewayId, sellerGateway.type sellerGatewayType, sellerGateway.user_id sellerId,
        sellerGateway.name sellerName, sellerGateway.gateway_name sellerGatewayName,
        sellerGateway.gateway_account sellerGatewayAccount,
        sellerGateway.gateway_receipt_code sellerGatewayReceiptCode
    </sql>

    <sql id="BuyerGatewayColumnList">
        buyerGateway.id buyerGatewayId, buyerGateway.type buyerGatewayType, buyerGateway.user_id buyerId,
        buyerGateway.name buyerName, buyerGateway.gateway_name buyerGatewayName,
        buyerGateway.gateway_account buyerGatewayAccount,
        buyerGateway.gateway_receipt_code buyerGatewayReceiptCode
    </sql>

    <select id="getDetail" resultMap="getPendingOrderDetailResult">
        SELECT
        <include refid="BaseColumnList" />,
        <include refid="SellerColumnList" />,
        <include refid="SellerGatewayColumnList" />,
        <include refid="BuyerGatewayColumnList" />
        FROM q91.pending_order a
        INNER JOIN user seller ON a.user_id = seller.ID
        LEFT JOIN user buyer ON a.buyer_id = buyer.ID
        LEFT JOIN gateway sellerGateway ON a.SELLER_GATEWAY_ID = sellerGateway.ID
        LEFT JOIN gateway buyerGateway ON a.BUYER_GATEWAY_ID = buyerGateway.ID
        <where>
            <if test="null != orderId and '' != orderId">
                AND a.id = #{orderId}
            </if>
            <if test="null != userId and '' != userId">
                AND a.user_id = #{userId}
            </if>
        </where>
    </select>

    <resultMap id="getMarketListResult" type="com.icchance.q91.entity.vo.MarketVO" >
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="trade_time" jdbcType="TIMESTAMP" property="tradeTime" />
        <result column="user_id" jdbcType="INTEGER" property="sellerId" />
        <result column="sellerUsername" jdbcType="VARCHAR" property="sellerUsername" />
        <result column="sellerAvatar" jdbcType="VARCHAR" property="sellerAvatar" />
        <result column="availableGatewayStr" jdbcType="VARCHAR" property="availableGatewayStr" />
        <result column="amount" jdbcType="DECIMAL" property="amount" />
        <result column="order_number" jdbcType="VARCHAR" property="orderNumber" />
    </resultMap>

    <sql id="SellerColumnList">
        seller.id sellerId, seller.username sellerUsername, seller.avatar sellerAvatar
    </sql>

    <select id="getMarketList" resultMap="getMarketListResult">
        SELECT
            <include refid="BaseColumnList" />,
            <include refid="SellerColumnList" />,
            GROUP_CONCAT(gateway.type SEPARATOR ',') availableGatewayStr
        FROM pending_order a
        INNER JOIN USER seller ON a.user_id = seller.id
        INNER JOIN order_available_gateway b ON a.id = b.order_id
        INNER JOIN gateway ON b.gateway_id = gateway.id
        <where>
            <if test="null != dto.status and '' != dto.status" >
                AND a.status = #{dto.status}
            </if>
            <if test="null != dto.id and '' != dto.id">
                AND a.id = #{dto.id}
            </if>
            <if test="null != dto.userId and '' != dto.userId">
                AND a.user_id != #{dto.userId}
            </if>
            <if test="null != dto.min and null != dto.max">
                AND a.amount &gt; #{dto.min} AND a.amount &lt; #{dto.max}
            </if>
<!--            <if test="null != dto.gatewayType and dto.gatewayType.size > 0">
                AND gateway.TYPE NOT IN
                <foreach collection="dto.gatewayType" item="type" index="index" open="(" close=")" separator=",">
                    #{type}
                </foreach>
            </if>-->
        </where>
        GROUP BY a.id
    </select>

    <resultMap id="getMarketPendingOrderResult" type="com.icchance.q91.entity.vo.MarketVO" >
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="trade_time" jdbcType="TIMESTAMP" property="tradeTime" />
        <result column="sellerId" jdbcType="INTEGER" property="sellerId" />
        <result column="sellerUsername" jdbcType="VARCHAR" property="sellerUsername" />
        <result column="sellerAvatar" jdbcType="VARCHAR" property="sellerAvatar" />
        <result column="availableGatewayStr" jdbcType="VARCHAR" property="availableGatewayStr" />
        <result column="amount" jdbcType="DECIMAL" property="amount" />
        <result column="order_number" jdbcType="VARCHAR" property="orderNumber" />
        <result column="status" jdbcType="INTEGER" property="status" />
<!--        <collection property="gatewayList" ofType="com.icchance.q91.entity.model.Gateway">
            <id column="SELLER_GATEWAY_ID" property="id" jdbcType="INTEGER" />
            <result column="TYPE" property="type" jdbcType="INTEGER" />
            <result column="NAME" property="name" jdbcType="VARCHAR" />
            <result column="GATEWAY_NAME" property="gatewayName" jdbcType="VARCHAR" />
            <result column="GATEWAY_RECEIPT_CODE" property="gatewayReceiptCode" jdbcType="VARCHAR" />
        </collection>-->
    </resultMap>

    <sql id="GatewayColumnList">
        gateway.id seller_gateway_id, gateway.type, gateway.name, gateway.gateway_name, gateway.gateway_receipt_code
    </sql>

    <select id="getMarketDetail" resultMap="getMarketPendingOrderResult">
        SELECT
            <include refid="BaseColumnList" />,
            <include refid="SellerColumnList" />
        FROM pending_order a
        INNER JOIN USER seller ON a.user_id = seller.id
        <where>
            <if test="null != userId and '' != userId">
                AND a.user_id != #{userId}
            </if>
            <if test="null != orderId and '' != orderId">
                AND a.id = #{orderId}
            </if>
        </where>
    </select>

</mapper>
